@import 'https://fonts.googleapis.com/css?family=Lato:400,300';
@import '../colors.scss';

html {
	font-size: 20px;
}
body {
	font-family: 'Lato', sans-serif;
	margin: 1rem;
}
div {
	border-radius: 16px;
	display: inline-block;
	height: 75px;
	margin-bottom: 1.4rem;
	position: relative;
	width: 250px;
	&:after {
		color: $vui-color-ferrite;
		font-size: 1rem;
		left: 10px;
		position: absolute;
		top: 75px;
	}
}

.vui-color-carnelian {
	background-color: $vui-color-carnelian;
	&:after {
		content: 'carnelian ' + $vui-color-carnelian;
	}
}
.vui-color-celestine {
	background-color: $vui-color-celestine;
	&:after {
		content: 'celestine ' + $vui-color-celestine;
	}
}

.vui-color-azurite {
	background-color: $vui-color-azurite;
	&:after {
		content: 'azurite ' + $vui-color-azurite;
	}
}
.vui-color-celestuba {
	background-color: $vui-color-celestuba;
	&:after {
		content: 'celestuba ' + $vui-color-celestuba;
	}
}
.vui-color-cinnabar {
	background-color: $vui-color-cinnabar;
	&:after {
		content: 'cinnabar ' + $vui-color-cinnabar;
	}
}
.vui-color-citrine {
	background-color: $vui-color-citrine;
	&:after {
		content: 'citrine ' + $vui-color-citrine;
	}
}
.vui-color-olivine {
	background-color: $vui-color-olivine;
	&:after {
		content: 'olivine ' + $vui-color-olivine;
	}
}
.vui-color-zircon {
	background-color: $vui-color-zircon;
	&:after {
		content: 'zircon ' + $vui-color-zircon;
	}
}

.vui-color-celestine-light-1 {
	background-color: $vui-color-celestine-light-1;
	&:after {
		content: 'celestine-light-1 ' + $vui-color-celestine-light-1;
	}
}
.vui-color-celestine-light-2 {
	background-color: $vui-color-celestine-light-2;
	&:after {
		content: 'celestine-light-2 ' + $vui-color-celestine-light-2;
	}
}
.vui-color-olivine-light-1 {
	background-color: $vui-color-olivine-light-1;
	&:after {
		content: 'olivine-light-1 ' + $vui-color-olivine-light-1;
	}
}
.vui-color-olivine-light-2 {
	background-color: $vui-color-olivine-light-2;
	&:after {
		content: 'olivine-light-2 ' + $vui-color-olivine-light-2;
	}
}
.vui-color-zircon-light-1 {
	background-color: $vui-color-zircon-light-1;
	&:after {
		content: 'zircon-light-1 ' + $vui-color-zircon-light-1;
	}
}
.vui-color-zircon-light-2 {
	background-color: $vui-color-zircon-light-2;
	&:after {
		content: 'zircon-light-2 ' + $vui-color-zircon-light-2;
	}
}

.vui-color-ferrite {
	background-color: $vui-color-ferrite;
	&:after {
		content: 'ferrite ' + $vui-color-ferrite;
	}
}
.vui-color-galena {
	background-color: $vui-color-galena;
	&:after {
		content: 'galena ' + $vui-color-galena;
	}
}
.vui-color-gypsum {
	background-color: $vui-color-gypsum;
	&:after {
		content: 'gypsum ' + $vui-color-gypsum;
	}
}
.vui-color-pressicus {
	background-color: $vui-color-pressicus;
	&:after {
		content: 'pressicus ' + $vui-color-pressicus;
	}
}
.vui-color-regolith {
	background-color: $vui-color-regolith;
	&:after {
		content: 'regolith ' + $vui-color-regolith;
	}
}
.vui-color-titanius {
	background-color: $vui-color-titanius;
	&:after {
		content: 'titanius ' + $vui-color-titanius;
	}
}
.vui-color-tungsten {
	background-color: $vui-color-tungsten;
	&:after {
		content: 'tungsten ' + $vui-color-tungsten;
	}
}
.vui-color-white {
	background-color: $vui-color-white;
	&:after {
		content: 'white ' + $vui-color-white;
	}
}
.vui-color-woolonardo {
	background-color: $vui-color-woolonardo;
	&:after {
		content: 'woolonardo ' + $vui-color-woolonardo;
	}
}

.vui-color-trancition {
	background: $vui-color-trancition;
	&:after {
		content: 'trancition';
	}
}
