
// primary palette
$vui-color-carnelian: #E57231 !default;
$vui-color-celestine: #006FBF !default;

// secondary palette
$vui-color-azurite: #00A4C0 !default;
$vui-color-celestuba: #1C5295 !default;
$vui-color-cinnabar: #CD2026 !default;
$vui-color-citrine: #FFBA59 !default;
$vui-color-olivine: #46A661 !default;
$vui-color-zircon: #00BDDD !default;

// the lighter side
$vui-color-celestine-light-1: #F2F8FC !default;
$vui-color-celestine-light-2: #99C5E5 !default;
$vui-color-olivine-light-1: #ECF6EE !default;
$vui-color-olivine-light-2: #65B57B !default;
$vui-color-zircon-light-1: #DBF5FA !default;
$vui-color-zircon-light-2: #BDEDF5 !default;

// shades of grey
$vui-color-ferrite: #565A5C !default;
$vui-color-galena: #7C8695 !default;
$vui-color-gypsum: #E6EAF0 !default;
$vui-color-pressicus: #B9C2D0 !default;
$vui-color-regolith: #F9FAFB !default;
$vui-color-titanius: #D3D9E3 !default;
$vui-color-tungsten: #72777A !default;
$vui-color-white: #FFF !default;
$vui-color-woolonardo: #F2F3F5 !default;
