
// primary palette
$vui-color-carnelian: #E57231 !default;
$vui-color-celestine: #006FBF !default;

// secondary palette
$vui-color-azurite: #00A4C0 !default;
$vui-color-celestuba: #1C5295 !default;
$vui-color-cinnabar: #CD2026 !default;
$vui-color-citrine: #FFBA59 !default;
$vui-color-olivine: #46A661 !default;
$vui-color-zircon: #00BDDD !default;

// tertiary palette (for gradients)
$vui-color-lurite: #F5EC5A !default;
$vui-color-panthera: #FF389B !default;
$vui-color-gravah: #32075B !default;
$vui-color-saphirella: #00A8DD !default;
$vui-color-violettine: #4C3F99 !default;
$vui-color-chartronic: #D2E830 !default;
$vui-color-deephonica: #00AFAA !default;
$vui-color-koolaudica: #69BE28 !default;

// the lighter side
$vui-color-celestine-light-1: #F2F8FC !default;
$vui-color-celestine-light-2: #99C5E5 !default;
$vui-color-olivine-light-1: #ECF6EE !default;
$vui-color-olivine-light-2: #65B57B !default;
$vui-color-zircon-light-1: #DBF5FA !default;
$vui-color-zircon-light-2: #BDEDF5 !default;

// shades of grey
$vui-color-ferrite: #565A5C !default;
$vui-color-galena: #7C8695 !default;
$vui-color-gypsum: #E6EAF0 !default;
$vui-color-pressicus: #B9C2D0 !default;
$vui-color-regolith: #F9FAFB !default;
$vui-color-titanius: #D3D9E3 !default;
$vui-color-tungsten: #72777A !default;
$vui-color-white: #FFF !default;
$vui-color-woolonardo: #F2F3F5 !default;

// gradients
$vui-gradient-blastica: linear-gradient(to bottom, $vui-color-panthera 0%, $vui-color-gravah 100%) !default;
$vui-gradient-buttonic: linear-gradient(to bottom, $vui-color-regolith 0%, $vui-color-gypsum 100%) !default;
$vui-gradient-circdawn: linear-gradient(to bottom, $vui-color-lurite 0%, $vui-color-carnelian 100%) !default;
$vui-gradient-meglor: linear-gradient(to bottom, $vui-color-pressicus 0%, $vui-color-tungsten 100%) !default;
$vui-gradient-nautikon: linear-gradient(to bottom, $vui-color-saphirella 0%, $vui-color-violettine 100%) !default;
$vui-gradient-neptrine: linear-gradient(to bottom, $vui-color-chartronic 0%, $vui-color-deephonica 100%) !default;
$vui-gradient-tauksigen: linear-gradient(to bottom, $vui-color-lurite 0%, $vui-color-koolaudica 100%) !default;
$vui-gradient-trancition: linear-gradient(to bottom, $vui-color-white 0%, $vui-color-regolith 100%) !default;
