@import 'node_modules/@brightspace-ui/core/components/colors/colors.scss';

// deprecated
$d2l-color-woolonardo: $d2l-color-sylvite !default;
$d2l-color-titanius: $d2l-color-mica !default;
$d2l-color-pressicus: $d2l-color-corundum !default;
$d2l-color-white: #fff !default;
$d2l-color-violettine: $d2l-color-amethyst-minus-1 !default;
$d2l-color-panthera: $d2l-color-tourmaline-plus-1 !default;
$d2l-color-koolaudica: $d2l-color-peridot !default;
$d2l-color-deephonica: $d2l-color-malachite !default;
$d2l-color-buttonic: linear-gradient(to bottom, $d2l-color-regolith 0%, $d2l-color-gypsum 100%) !default;
$d2l-color-meglor: linear-gradient(to bottom, $d2l-color-corundum 0%, $d2l-color-tungsten 100%) !default;
$d2l-color-trancition: linear-gradient(to bottom, #fff 0%, $d2l-color-regolith 100%) !default;
$d2l-color-trixon: linear-gradient(to bottom, $d2l-color-regolith 0%, $d2l-color-sylvite 100%) !default;
$d2l-color-azurite: $d2l-color-zircon-plus-1 !default;
$d2l-color-celestuba: $d2l-color-celestine-minus-1 !default;
$d2l-color-gravah: $d2l-color-amethyst-minus-1 !default;
$d2l-color-saphirella: $d2l-color-zircon-plus-1 !default;
$d2l-color-celestine-light-1: $d2l-color-celestine-plus-2 !default;
$d2l-color-celestine-light-2: $d2l-color-celestine-plus-1 !default;
$d2l-color-olivine-light-1: $d2l-color-olivine-plus-1 !default;
$d2l-color-olivine-light-2: $d2l-color-olivine !default;
$d2l-color-zircon-light-1: $d2l-color-zircon-plus-2 !default;
$d2l-color-zircon-light-2: $d2l-color-zircon-plus-2 !default;
