
@import '../colors.scss';

.vui-color-carnelian {
  background-color: $vui-color-carnelian;
}
.vui-color-celestine {
  background-color: $vui-color-celestine;
}

.vui-color-azurite {
  background-color: $vui-color-azurite;
}
.vui-color-celestuba {
  background-color: $vui-color-celestuba;
}
.vui-color-cinnabar {
  background-color: $vui-color-cinnabar;
}
.vui-color-citrine {
  background-color: $vui-color-citrine;
}
.vui-color-olivine {
  background-color: $vui-color-olivine;
}
.vui-color-zircon {
  background-color: $vui-color-zircon;
}

.vui-color-celestine-light-1 {
  background-color: $vui-color-celestine-light-1;
}
.vui-color-celestine-light-2 {
  background-color: $vui-color-celestine-light-2;
}
.vui-color-olivine-light-1 {
  background-color: $vui-color-olivine-light-1;
}
.vui-color-olivine-light-2 {
  background-color: $vui-color-olivine-light-2;
}
.vui-color-zircon-light-1 {
  background-color: $vui-color-zircon-light-1;
}
.vui-color-zircon-light-2 {
  background-color: $vui-color-zircon-light-2;
}

.vui-color-ferrite {
  background-color: $vui-color-ferrite;
}
.vui-color-galena {
  background-color: $vui-color-galena;
}
.vui-color-gypsum {
  background-color: $vui-color-gypsum;
}
.vui-color-pressicus {
  background-color: $vui-color-pressicus;
}
.vui-color-regolith {
  background-color: $vui-color-regolith;
}
.vui-color-titanius {
  background-color: $vui-color-titanius;
}
.vui-color-tungsten {
  background-color: $vui-color-tungsten;
}
.vui-color-white {
  background-color: $vui-color-white;
}
.vui-color-woolonardo {
  background-color: $vui-color-woolonardo;
}

.vui-color-blastica {
  background: $vui-color-blastica;
}
.vui-color-buttonic {
  background: $vui-color-buttonic;
}
.vui-color-circdawn {
  background: $vui-color-circdawn;
}
.vui-color-meglor {
  background: $vui-color-meglor;
}
.vui-color-nautikon {
  background: $vui-color-nautikon;
}
.vui-color-neptrine {
  background: $vui-color-neptrine;
}
.vui-color-tauksigen {
  background: $vui-color-tauksigen;
}
.vui-color-trancition {
  background: $vui-color-trancition;
}
